*{
    padding: 0;
    margin: 0;
}
body,html{
    height: 100%;
    /*background: #F2F2F2 !important;*/
}
*{
    font-weight: bold !important;
}
.bg_white {
    background: white !important;
}
html {
    --antd-wave-shadow-color: #ff5b5b !important;
}
.main-p {
    padding: 0 15% !important;
    overflow: hidden;
}
.main-m{
    margin: 0 15% !important;
    overflow: hidden;
}

.f-left {
    float: left;
}
.f-right{
    float: right;
}

.c-ff5b5b {
    color: #ff5b5b !important;
}
.c-23aee2{
    color: #23aee2 !important;
}

.relative{
    position: relative !important;
    overflow: hidden;
}

/**
ant vue 覆盖部分
@start
 */
.search .ant-input,
.search .ant-input-group-addon{
    border-radius: 15px;
    border-right: none;
}

.ant-menu-horizontal > .ant-menu-item:hover,
.ant-menu-horizontal > .ant-menu-submenu:hover,
.ant-menu-horizontal > .ant-menu-item-active,
.ant-menu-horizontal > .ant-menu-submenu-active,
.ant-menu-horizontal > .ant-menu-item-open,
.ant-menu-horizontal > .ant-menu-submenu-open,
.ant-menu-horizontal > .ant-menu-item-selected,
.ant-menu-horizontal > .ant-menu-submenu-selected {
    color: #ff5b5b !important;
    border-bottom: 2px solid #ff5b5b !important;
}

.language .ant-select-selection{
    border: none !important;
}

.ant-list-pagination {
    text-align: center !important;
}

/**
@end
 */